<!-- breadcrumb -->
<div class="row">
  <div class="col-md-12">
    <!-- BEGIN PAGE TITLE & BREADCRUMB -->
    <h3 class="page-title">Reports</h3>
    <ul class="page-breadcrumb breadcrumb">
      <li>
        <i class="fa fa-home"></i>
        <a href="<%=accountant_root_path%>">Home</a>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <a href="#">Reports</a>
        <i class="fa fa-angle-right"></i>
      </li>
       <li>
        <a href="#">Monthly</a>
      </li>
    </ul><!-- END PAGE TITLE & BREADCRUMB-->
  </div>
</div>


<div class="row">
  <div class="advanceSearchForm">
    <!-- left part -->
    <div class="col-md-6">
      <!-- SatrtDate EndDate -->
      <div class="row btn_Search">
        <label class="control-label col-md-3">Choose Month</label>
        <div class="input-group input-large date-picker input-daterange col-md-9" style="padding-left: 15px;" data-date-format="mm/dd/yyyy">
          <input type="text" class="form-control choose_month" name="choose_month" value="<%= Date.today.strftime("%B %Y") %>">
        </div>
      </div>
    </div>
  </div>
  <!-- button --> 
  <div class="col-md-4">
    <div class="btn_Search">
      <a href="javascript:;" class="btn btn-default search_btn">Generate</a>
    </div>
  </div>
</div>
<br>
<div>
  <table id="sample_2" class="table table-striped table-bordered table-hover table-full-width" data-source="<%=accountant_reports_path(format: :json) %>">
    <thead>
      <tr class="heading">
        <th class="hidden-xs">Date</th>
        <th class="hidden-xs">Revenue</th>
        <th class="hidden-xs">Fee</th>
        <th class="hidden-xs">Gross</th>
        <th class="hidden-xs">Transaction</th>
        <th class="hidden-xs">App Trx</th>
        <th class="hidden-xs" style="display:none;">Ssa payment process Fee </th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>


<script type="text/javascript">
var table;
jQuery(document).ready(function() {
  table=$('#sample_2').dataTable({
    sPaginationType: "bootstrap",
    aaSorting: [[ 0, "desc" ]],
    // bFilter: false,
    bLengthChange: false,
    // iDisplayLength: 20,
    bPaginate: false,
    bProcessing: true,
    bServerSide: true,
    sAjaxSource: $('#sample_2').data('source'),
    "fnServerParams" : function (aoData){
      aoData.push({"name" : "choose_month", "value" : $('.choose_month').val()});
    },
    "fnDrawCallback" : function(oSettings){
      if(oSettings.aiDisplay.length==0){
        return;
      }
      $("#sample_2 tbody tr").each(function(index) {
        console.log(this.cells[6].innerHTML)
        var ssa_fee=this.cells[6].innerHTML
        $(this.cells[2]).mouseover(function(event) {
          // console.log("hello");
          var columnTitle= ssa_fee.split(",diff,")
          // diff = columnTitle.indexOf("diff");
          // console.log(columnTitle);
          var payment_name = columnTitle[0].split(",")
          var payment_fee =columnTitle[1].split(",").map(Number);
          // console.log(payment_name);
          // console.log(payment_fee);
          var total=0
          for (var i = 0; i < payment_fee.length; i++) {
            total+=payment_fee[i];
          };
          total  = total.toFixed(2)
          var merge=""
          for (var j = 0,k = 0; j < payment_name.length, k < payment_fee.length; j++,k++) {
            merge+=payment_name[j]+'='+payment_fee[k] +'\n'
          };

          console.log(total)
          // console.log(merge);
          var final_string=merge+'total='+total
          this.setAttribute('title',final_string);
        });

      });
    }
  });

  // table.columns( 5 ).visible( false );
   /* Apply the tooltips */
  table.$('tr').tooltip( {
    "delay": 0,
    "track": true,
    "fade": 100
  } );
  // datepicker for to and form date
  $('.date-picker').datepicker({
    format: 'MM yyyy',
    autoclose: true,
    // viewMode: "months"
    minViewMode: "months"
  });

  // search button
  $('.search_btn').click(function(){
      table.fnFilter( );
  });

});

</script>
<style type="text/css">
.dataTables_filter{
  display: none;
}
.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top{
  width: 18%;
}
#sample_2 tbody tr td:last-child{
  display: none;
}
#sample_2_info{
  top: 8px !important;
}
</style>