<div class="row">          
  <div class="col-md-12">
    <div class="tab-content">
      <div class="portlet blue-hoki box"  style="border:1px solid #869ab3;float:left;width:100%;">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-gift"></i>Password
          </div>
        </div>
        <div class="portlet-body form" style="float:left;width:100%;">
          <% if current_admin_user.is_account_activated? %>
            <%= form_for [:manage, current_admin_user] , :html => { :id => "coordinator", :class=>"form-horizontal" } do |f| %>
              <div class="form-body">
                <div class="form-group">
                  <label class="control-label col-md-3">New Password</label>
                  <div class="col-md-9">
                   <%= f.password_field :password, :placeholder => "Current Password" ,:class => "form-control", :required => true  %>
                  </div>
                </div>
                <div class="form-group"> 
                  <label class="control-label col-md-3">Confirm new password</label>
                  <div class="col-md-9">
                  <%= f.password_field :password_confirmation, :placeholder => "New Password" ,:class => "form-control",:required => true  %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                      <button class="btn green" type="submit">Change Password</button>
                      <%= link_to "Cancel", root_path, :class =>"btn default" %>
                    </div>
                  </div>
                </div>        
              </div>
            <% end %>            
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>