<div class="row">
  <div class="col-md-12">
    <!-- BEGIN PAGE TITLE & BREADCRUMB
    -->
    <h3 class="page-title">
      <%if current_page?(accountant_coordinator_path)%>
        Coordinator
      <%elsif current_page?(accountant_instructor_fee_path) %>
        Instructor Fee
      <%elsif current_page?(accountant_instructor_test_path) %>
        Instructor Test
      <%end%>
    </h3>
    <ul class="page-breadcrumb breadcrumb">
      <li>
        <i class="fa fa-home"></i>
        <a href="<%=accountant_root_path%>">Home</a>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <a href="#">
          Transaction
          <i class="fa fa-angle-right"></i>
        </a>
      </li>
      <li>
        <a href="">
          <%if current_page?(accountant_coordinator_path)%>
            Coordinator
          <%elsif current_page?(accountant_instructor_fee_path) %>
            Instructor Fee
          <%elsif current_page?(accountant_instructor_test_path) %>
            Instructor Test
          <%end%>
        </a>
      </li>
    </ul>
    <!-- END PAGE TITLE & BREADCRUMB
    -->
  </div>
</div>