/ BEGIN PRE-FOOTER
.pre-footer
  .container
    .row
      / BEGIN BOTTOM ABOUT BLOCK
      .col-md-3.col-sm-6.pre-footer-col
        %h2 About us
        %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam sit nonummy nibh euismod tincidunt ut laoreet dolore magna aliquarm erat sit volutpat. Nostrud exerci tation ullamcorper suscipit lobortis nisl aliquip  commodo consequat.
        %p Duis autem vel eum iriure dolor vulputate velit esse molestie at dolore.
      / END BOTTOM ABOUT BLOCK
      / BEGIN BOTTOM INFO BLOCK
      .col-md-3.col-sm-6.pre-footer-col
        %h2 Information
        %ul.list-unstyled
          %li
            %i.fa.fa-angle-right
            %a{:href => "#"} Delivery Information
          %li
            %i.fa.fa-angle-right
            %a{:href => "#"} Customer Service
          %li
            %i.fa.fa-angle-right
            %a{:href => "#"} Order Tracking
          %li
            %i.fa.fa-angle-right
            %a{:href => "#"} Shipping & Returns
          %li
            %i.fa.fa-angle-right
            %a{:href => "contacts.html"} Contact Us
          %li
            %i.fa.fa-angle-right
            %a{:href => "#"} Careers
          %li
            %i.fa.fa-angle-right
            %a{:href => "#"} Payment Methods
      / END INFO BLOCK
      / BEGIN TWITTER BLOCK
      .col-md-3.col-sm-6.pre-footer-col
        %h2.margin-bottom-0 Latest Tweets
        %a.twitter-timeline{"data-chrome" => "noheader nofooter noscrollbar noborders transparent", "data-link-color" => "#57C8EB", "data-theme" => "dark", "data-tweet-limit" => "2", "data-widget-id" => "455411516829736961", :href => "https://twitter.com/twitterapi"} Loading tweets by @keenthemes...
      / END TWITTER BLOCK
      / BEGIN BOTTOM CONTACTS
      .col-md-3.col-sm-6.pre-footer-col
        %h2 Our Contacts
        %address.margin-bottom-40
          35, Lorem Lis Street, Park Ave
          %br
            California, US
            %br
              Phone: 300 323 3456
              %br
                Fax: 300 323 1456
                %br
                  Email:
                  %a{:href => "mailto:info@metronic.com"} info@metronic.com
                  %br
                    Skype:
                    %a{:href => "skype:metronic"} metronic
      / END BOTTOM CONTACTS
    %hr
      .row
        / BEGIN SOCIAL ICONS
        .col-md-6.col-sm-6
          %ul.social-icons
            %li
              %a.rss{"data-original-title" => "rss", :href => "#"}
            %li
              %a.facebook{"data-original-title" => "facebook", :href => "#"}
            %li
              %a.twitter{"data-original-title" => "twitter", :href => "#"}
            %li
              %a.googleplus{"data-original-title" => "googleplus", :href => "#"}
            %li
              %a.linkedin{"data-original-title" => "linkedin", :href => "#"}
            %li
              %a.youtube{"data-original-title" => "youtube", :href => "#"}
            %li
              %a.vimeo{"data-original-title" => "vimeo", :href => "#"}
            %li
              %a.skype{"data-original-title" => "skype", :href => "#"}
        / END SOCIAL ICONS
        / BEGIN NEWLETTER
        .col-md-6.col-sm-6
          .pre-footer-subscribe-box.pull-right
            %h2 Newsletter
            %form{:action => "#"}
              .input-group
                %input.form-control{:placeholder => "youremail@mail.com", :type => "text"}
                  %span.input-group-btn
                    %button.btn.btn-primary{:type => "submit"} Subscribe
        / END NEWLETTER
/ END PRE-FOOTER

/ BEGIN FOOTER
.footer
  .container
    .row
      / BEGIN COPYRIGHT
      .col-md-6.col-sm-6.padding-top-10
        2014 © Metronic Shop UI. ALL Rights Reserved.
      / END COPYRIGHT
      / BEGIN PAYMENTS
      .col-md-6.col-sm-6
        %ul.list-unstyled.list-inline.pull-right
          %li
            %img{:alt => "We accept Western Union", :src => "/assets/index_page_images/img/payments/western-union.jpg", :title => "We accept Western Union"}/
          %li
            %img{:alt => "We accept American Express", :src => "/assets/index_page_images/img/payments/american-express.jpg", :title => "We accept American Express"}/
          %li
            %img{:alt => "We accept MasterCard", :src => "/assets/index_page_images/img/payments/MasterCard.jpg", :title => "We accept MasterCard"}/
          %li
            %img{:alt => "We accept PayPal", :src => "/assets/index_page_images/img/payments/PayPal.jpg", :title => "We accept PayPal"}/
          %li
            %img{:alt => "We accept Visa", :src => "/assets/index_page_images/img/payments/visa.jpg", :title => "We accept Visa"}/
      / END PAYMENTS
/ END FOOTER