.row
  .col-md-7
    .row
      .col-md-6
        %table#user.table.table-bordered.table-striped
          %tbody
            %tr
              %td{:style => "width:30%"} Name
              %td{:style => "width:70%"} Willian Chia
            %tr
              %td{:style => "width:30%"} Contact
              %td{:style => "width:70%"} 9776 6647
            %tr
              %td{:style => "width:30%"} Email
              %td{:style => "width:70%"} willian.chia@gmail.com
            %tr
              %td{:style => "width:30%"} Lesson Type
              %td{:style => "width:70%"} Group Class
            %tr
              %td{:style => "width:30%"} Student(s)
              %td{:style => "width:70%"}
                Willian Chia - 28yrs (M)
                %br Mandy Tan - 18yrs (F)
            %tr
              %td{:style => "width:30%"} Referred From
              %td{:style => "width:70%"} SwimmingCoach.com.sg
      .col-md-6
        %table#user.table.table-bordered.table-striped
          %tbody
            %tr
              %td{:style => "width:30%"} Location
              %td{:style => "width:70%"}
                Sengkang Swimming Complex
                %br
                  Toa Payoh Swimming Complex
            %tr
              %td{:style => "width:30%"} Start
              %td{:style => "width:70%"} 18 June 2014
            %tr
              %td{:style => "width:30%"} Day/Time
              %td{:style => "width:70%"} Sat: whole day
            %tr
              %td{:style => "width:30%"} Instructor
              %td{:style => "width:70%"} No Preference
            %tr
              %td{:style => "width:30%"} Customer Name
              %td{:style => "width:70%"} Willian Chia
            %tr
              %td{:style => "width:30%"} Note
              %td{:style => "width:70%"} Nothing here
    .row
      .col-md-6.col-sm-6
        / BEGIN PORTLET
        .portlet
          .portlet-title.line
            .caption
              %i.fa.fa-comments>
              Customer
          .row
            .col-md-7
              .form-group
                %label.control-label Name
                %input#firstName.form-control.input-sm{:placeholder => "Willian", :type => "text"}
            / /span
            .col-md-5
              .form-group
                %label.control-label Mobile
                %input#lastName.form-control.input-sm{:placeholder => "98757732", :type => "text"}
            / /span
          #chats.portlet-body
            .slimScrollDiv{:style => "position: relative; overflow: hidden; width: auto; height: 435px;"}
              .scroller{"data-always-visible" => "1", "data-initialized" => "true", "data-rail-visible1" => "1", :style => "overflow: hidden; width: auto; height: 435px;"}
                %ul.chats
                  %li.in
                    %img.avatar.img-responsive{:alt => "", :src => "/assets/avatar1.jpg"}
                      .message
                        %span.arrow
                        %a.name{:href => "#"}
                          Bob Nilson
                        %span.datetime
                          at Jul 25, 2012 11:09
                        %span.body
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  %li.out
                    %img.avatar.img-responsive{:alt => "", :src => "/assets/avatar2.jpg"}
                      .message
                        %span.arrow
                        %a.name{:href => "#"}
                          Lisa Wong
                        %span.datetime
                          at Jul 25, 2012 11:09
                        %span.body
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  %li.in
                    %img.avatar.img-responsive{:alt => "", :src => "/assets/avatar1.jpg"}
                      .message
                        %span.arrow
                        %a.name{:href => "#"}
                          Bob Nilson
                        %span.datetime
                          at Jul 25, 2012 11:09
                        %span.body
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  %li.out
                    %img.avatar.img-responsive{:alt => "", :src => "/assets/avatar3.jpg"}
                      .message
                        %span.arrow
                        %a.name{:href => "#"}
                          Richard Doe
                        %span.datetime
                          at Jul 25, 2012 11:09
                        %span.body
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  %li.in
                    %img.avatar.img-responsive{:alt => "", :src => "/assets/avatar3.jpg"}
                      .message
                        %span.arrow
                        %a.name{:href => "#"}
                          Richard Doe
                        %span.datetime
                          at Jul 25, 2012 11:09
                        %span.body
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  %li.out
                    %img.avatar.img-responsive{:alt => "", :src => "/assets/avatar1.jpg"}
                      .message
                        %span.arrow
                        %a.name{:href => "#"}
                          Bob Nilson
                        %span.datetime
                          at Jul 25, 2012 11:09
                        %span.body
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  %li.in
                    %img.avatar.img-responsive{:alt => "", :src => "/assets/avatar3.jpg"}
                      .message
                        %span.arrow
                        %a.name{:href => "#"}
                          Richard Doe
                        %span.datetime
                          at Jul 25, 2012 11:09
                        %span.body
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  %li.out
                    %img.avatar.img-responsive{:alt => "", :src => "/assets/avatar1.jpg"}
                      .message
                        %span.arrow
                        %a.name{:href => "#"}
                          Bob Nilson
                        %span.datetime
                          at Jul 25, 2012 11:09
                        %span.body
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. sed diam nonummy nibh euismod tincidunt ut laoreet.
              .slimScrollBar{:style => "background: none repeat scroll 0% 0% rgb(187, 187, 187); width: 7px; position: absolute; opacity: 0.4; border-radius: 7px; z-index: 99; right: 1px; top: 202px; height: 233.036px; display: block;"}
              .slimScrollRail{:style => "width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: none repeat scroll 0% 0% rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px;"}
            .chat-form
              .input-cont
                %input.form-control{:placeholder => "Type a message here...", :type => "text"}
              .btn-cont
                %span.arrow
                %a.btn.blue.icn-only{:href => ""}
                  %i.fa.fa-check.icon-white
        / END PORTLET
      .col-md-6.col-sm-6
        / BEGIN PORTLET
        .portlet
          .portlet-title.line
            .caption
              %i.fa.fa-comments>
              Instructor
          .row
            .col-md-7
              .form-group
                %label.control-label Name
                %input#firstName.form-control.input-sm{:placeholder => "Willian", :type => "text"}
            / /span
            .col-md-5
              .form-group
                %label.control-label Mobile
                %input#lastName.form-control.input-sm{:placeholder => "98757732", :type => "text"}
            / /span
          #chats.portlet-body
            .slimScrollDiv{:style => "position: relative; overflow: hidden; width: auto; height: 435px;"}
              .scroller{"data-always-visible" => "1", "data-initialized" => "true", "data-rail-visible1" => "1", :style => "overflow: hidden; width: auto; height: 435px;"}
                %ul.chats
                  %li.in
                    %img.avatar.img-responsive{:alt => "", :src => "/assets/avatar1.jpg"}
                      .message
                        %span.arrow
                        %a.name{:href => "#"}
                          Bob Nilson
                        %span.datetime
                          at Jul 25, 2012 11:09
                        %span.body
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  %li.out
                    %img.avatar.img-responsive{:alt => "", :src => "/assets/avatar2.jpg"}
                      .message
                        %span.arrow
                        %a.name{:href => "#"}
                          Lisa Wong
                        %span.datetime
                          at Jul 25, 2012 11:09
                        %span.body
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  %li.in
                    %img.avatar.img-responsive{:alt => "", :src => "/assets/avatar1.jpg"}
                      .message
                        %span.arrow
                        %a.name{:href => "#"}
                          Bob Nilson
                        %span.datetime
                          at Jul 25, 2012 11:09
                        %span.body
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  %li.out
                    %img.avatar.img-responsive{:alt => "", :src => "/assets/avatar3.jpg"}
                      .message
                        %span.arrow
                        %a.name{:href => "#"}
                          Richard Doe
                        %span.datetime
                          at Jul 25, 2012 11:09
                        %span.body
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  %li.in
                    %img.avatar.img-responsive{:alt => "", :src => "/assets/avatar3.jpg"}
                      .message
                        %span.arrow
                        %a.name{:href => "#"}
                          Richard Doe
                        %span.datetime
                          at Jul 25, 2012 11:09
                        %span.body
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  %li.out
                    %img.avatar.img-responsive{:alt => "", :src => "/assets/avatar1.jpg"}
                      .message
                        %span.arrow
                        %a.name{:href => "#"}
                          Bob Nilson
                        %span.datetime
                          at Jul 25, 2012 11:09
                        %span.body
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  %li.in
                    %img.avatar.img-responsive{:alt => "", :src => "/assets/avatar3.jpg"}
                      .message
                        %span.arrow
                        %a.name{:href => "#"}
                          Richard Doe
                        %span.datetime
                          at Jul 25, 2012 11:09
                        %span.body
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  %li.out
                    %img.avatar.img-responsive{:alt => "", :src => "/assets/avatar1.jpg"}
                      .message
                        %span.arrow
                        %a.name{:href => "#"}
                          Bob Nilson
                        %span.datetime
                          at Jul 25, 2012 11:09
                        %span.body
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. sed diam nonummy nibh euismod tincidunt ut laoreet.
              .slimScrollBar{:style => "background: none repeat scroll 0% 0% rgb(187, 187, 187); width: 7px; position: absolute; opacity: 0.4; border-radius: 7px; z-index: 99; right: 1px; top: 202px; height: 233.036px; display: block;"}
              .slimScrollRail{:style => "width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: none repeat scroll 0% 0% rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px;"}
            .chat-form
              .input-cont
                %input.form-control{:placeholder => "Type a message here...", :type => "text"}
              .btn-cont
                %span.arrow
                %a.btn.blue.icn-only{:href => ""}
                  %i.fa.fa-check.icon-white
        / END PORTLET
    / BEGIN SAMPLE FORM PORTLET
    / END SAMPLE FORM PORTLET
    / BEGIN SAMPLE FORM PORTLET
    / END SAMPLE FORM PORTLET
    / BEGIN SAMPLE FORM PORTLET
    / END SAMPLE FORM PORTLET
  .col-md-5
    / BEGIN SAMPLE FORM PORTLET
    .portlet.box.green
      .portlet-title
        .caption
          %i.fa.fa-gift>
          Match Instructor
      .portlet-body.form
        %form{:role => "form"}
          .form-body
            .clearfix
              .btn-group{"data-toggle" => "buttons"}
                %label.btn.blue.active
                  %input.toggle{:type => "radio"} New
                %label.btn.blue
                  %input.toggle{:type => "radio"} Post
                %label.btn.blue
                  %input.toggle{:type => "radio"} Suggest
                %label.btn.blue
                  %input.toggle{:type => "radio"} Invoice
                %label.btn.blue
                  %input.toggle{:type => "radio"} Receipt
            .row
              .col-md-6
                .form-group
                  %label.control-label Venue
                  %select.form-control
                    %option Yishun Swimming Complex
                    %option Tuesday
                    %option Wednesday
                    %option Thursday
                    %option Friday
                    %option Saturday
                    %option Sunday
              / /span
              .col-md-6
                .form-group
                  %label.control-label Group Class
                  %select.form-control
                    %option Monday
                    %option Tuesday
                    %option Wednesday
                    %option Thursday
                    %option Friday
                    %option Saturday
                    %option Sunday
              / /span
            .row
              .col-md-6
                .form-group
                  %label.control-label Adult
                  %select.form-control
                    %option Monday
                    %option Tuesday
                    %option Wednesday
                    %option Thursday
                    %option Friday
                    %option Saturday
                    %option Sunday
              / /span
              .col-md-6
                .form-group
                  %label.control-label Level
                  %select.form-control
                    %option Beginner
                    %option Tuesday
                    %option Wednesday
                    %option Thursday
                    %option Friday
                    %option Saturday
                    %option Sunday
              / /span
            .row
              .col-md-6
                .form-group
                  %label.control-label Day of Week
                  %select.form-control
                    %option Monday
                    %option Tuesday
                    %option Wednesday
                    %option Thursday
                    %option Friday
                    %option Saturday
                    %option Sunday
              / /span
              .col-md-6
                .form-group
                  %label.control-label Time
                  %input#lastName.form-control{:placeholder => "e.g. 10.30am", :type => "text"}
              / /span
            .row
              .col-md-6
                .form-group
                  %label.control-label Starting Date
                  %input#firstName.form-control{:placeholder => "10/06/2014", :type => "text"}
              / /span
              .col-md-6
                .form-group
                  %label.control-label Fee Structure
                  .radio-list
                    %label
                      #uniform-optionsRadios1.radio
                        %span
                          %input#optionsRadios1{:checked => "", :name => "optionsRadios", :type => "radio", :value => "option1"}/
                      per month
                    %label
                      #uniform-optionsRadios2.radio
                        %span
                          %input#optionsRadios2{:name => "optionsRadios", :type => "radio", :value => "option2"}/
                      per course
              / /span
            .row
              .col-md-6
                .form-group
                  %label.control-label Complete By
                  %input#firstName.form-control{:placeholder => "10/06/2014", :type => "text"}
              / /span
              .col-md-6
                .form-group
                  %label.control-label Lesson Count
                  %input#lastName.form-control{:placeholder => "e.g. 10", :type => "text"}
              / /span
            .row
              .col-md-4
                .form-group
                  %label.control-label Per Pax
                  %input#firstName.form-control{:placeholder => "e.g. 60", :type => "text"}
              .col-md-4
                .form-group
                  %label.control-label Fee Total
                  %input#firstName.form-control{:placeholder => "e.g. 120", :type => "text"}
              .col-md-4
                .form-group
                  %label.control-label Referral
                  %input#firstName.form-control{:placeholder => "e.g. $30", :type => "text"}
              / /span
              / /span
            .row
              .col-md-8
                .form-group
                  %label.control-label Instructor
                  %select.form-control
                    %option Freddie ang
                    %option Tuesday
                    %option Wednesday
                    %option Thursday
                    %option Friday
                    %option Saturday
                    %option Sunday
              / /span
              / /span
            .form-group
              %label Notes
              %textarea.form-control{:rows => "2"}
            .form-group
              %label Checkboxes
              .checkbox-list
                %label
                  .checker
                    %span
                      %input{:type => "checkbox"}/
                  Show Student
                %label
                  .checker
                    %span
                      %input{:type => "checkbox"}/
                  Free goggles and cap
                %label
                  .checker
                    %span
                      %input{:type => "checkbox"}/
                  Lady Instructor
          .form-actions.fluid
            .col-md-offset-3.col-md-9
              %button.btn.blue{:type => "submit"} Generate SMS
              %button.btn.green{:type => "submit"} Save
    / END SAMPLE FORM PORTLET
    / BEGIN SAMPLE FORM PORTLET
    / END SAMPLE FORM PORTLET
    / BEGIN SAMPLE FORM PORTLET
    / END SAMPLE FORM PORTLET
    / BEGIN SAMPLE FORM PORTLET
    / END SAMPLE FORM PORTLET