/ .content-form-page
/   .row
/     .col-md-7.col-sm-7
/       = nested_form_for [:manage, @job], :html => { :class => "form-horizontal ", :id => "new_job"} do |f|
/         %fieldset
/           %legend Your personal details
/           .form-group
/             %label.col-lg-4.control-label
/               = f.label :lead_name, "Name"
/               %span.require *
/             .col-lg-8
/               = f.text_field :lead_name, :class => "form-control", :required => true
/           .form-group
/             %label.col-lg-4.control-label
/               = f.label :lead_contact, "Mobile"
/               %span.require *
/             .col-lg-8
/               = f.text_field :lead_contact, :class => "form-control", :required => true
/           .form-group
/             %label.col-lg-4.control-label
/               = f.label :lead_email, "Email"
/             .col-lg-8
/               = f.email_field :lead_email, :class => "form-control"
/           .form-group
/             %label.col-lg-4.control-label{for: "address"}
/               = f.label :lead_address, "Address"
/             .col-lg-8
/               = f.text_area :lead_address, :class => "form-control", :rows => 3
/         %fieldset
/           %legend Students to join
/           %label.col-lg-4.control-label{for: "address"}
/           .col-lg-8
/             = f.fields_for :students do |student|
/               %p
/                 = render 'student_fields', :f => student
/             = f.link_to_add :students, { :class => "btn btn-primary pull-right"} do
/               %i.fa.fa-plus Add Students
/         %fieldset
/           %legend Lesson Preference
/           .form-group
/             %label.col-md-4.control-label
/             .col-md-8
/               - ClassType.all.each do |a|
/                 = f.radio_button :class_type, a.id, :id => "chk-#{a.title}"
/                 %label{for: "#chk-#{a.title}"}
/                   = a.title
/           #show_private{style: "display: none;"}
/             .form-group
/               %label.col-md-4.control-label Private Lesson
/               .col-md-8
/                 = f.check_box :private_lesson
/                 = f.label :private_lesson, "My Condo has a pool suitable for lessons"
/             .form-group
/               %label.col-lg-4.control-label{for: "address"} Condo Name
/               .col-lg-8
/                 = f.text_field :other_venue, :class => "form-control"
/           .form-group
/             %label.col-md-4.control-label Public Pools
/             .col-md-8
/               #select_one_chk_box{style: "color: red; font-weight: 400; font-size: 14px;"}
/               = f.collection_check_boxes :venue_ids, Venue.all, :id, :name do |b|
/                 %span
/                   = b.check_box
/                   = b.label
/                   %br/
/           .form-group
/             %label.col-md-4.control-label Day & Time
/             .col-md-8
/               = f.text_area :lead_day_time, :class => "form-control", :rows => 2
/           .form-group
/             %label.col-md-4.control-label Starting On
/             .col-md-8
/               = f.date_field :lead_starting_on, :class => "form-control"
/           .form-group
/             %label.col-md-4.control-label
/             .col-md-8
/               = f.check_box :lead_lady_instructor_only
/               = f.label :lead_lady_instructor_only, "Lady Instructor Only"
                
/               %p.help-block Please note that it will take a longer time to match an available lady instructor.
/           .form-group
/             %label.col-md-4.control-label Additional Information
/             .col-md-8
/               = f.text_area :lead_info, :class => "form-control", :rows => 2
/         .row
/           .col-lg-8.col-md-offset-4.padding-left-0.padding-top-20
/             = f.submit "Save", :class => "btn btn-primary btn-lg"
/             - if params[:controller] == "manage/registration" && params[:action] == "edit"
/               = link_to "Cancel", manage_job_path(@job), :class => "btn btn-default btn-lg"
/             - else
/               = link_to "Cancel", manage_jobs_path, :class => "btn btn-default btn-lg"
/ :javascript
/   $('input[name="job[class_type]"]').click(function () {
/     if (this.id == "chk-Private") {
/       $("#show_private").show('fast');
/     } else {
/       $("#show_private").hide('fast');
/     }
/   });
/   $("#datepicker1").datepicker();

/   $(document).ready(function() {
/     $("#new_job").validate({
/       errorPlacement: function(error, element) {
/         var errorCheckbox;
/         errorCheckbox = void 0;
/         if (element.attr("type") === "checkbox") {
/           $( "#select_one_chk_box" ).html( "Please select at least one venue to submit a form!" );
/         } else {
/           error.insertAfter(element);
/         }
/       }
/     });
/   });
/   setTimeout(function(){$(".select2-container").css({"margin-top": "-4px"})}, 1000);