<div class="row">
  <div class="col-md-6 ">
    <div class="portlet box blue">
      <div class="portlet-title">
        <div class="caption">
          New terms & conditions
        </div>
      </div>
      <div class="portlet-body form" style="border-bottom: 1px solid #869AB3;">
        <%= render 'form' %>
      </div>
    </div>
  </div>
  <div class="col-md-6 ">
    <div class="portlet box">
    <div><h3 class="title_content"></h3></div>
    <div><p class="term_content"></p></div>
    </div>
  </div>
</div>