<div class="portlet box">
  <div class="portlet-body form">
    <%= form_for [:manage, @message_template_invoice_pa] do |f| %>
      <%= hidden_field_tag :job_status, 'invoice_pa' %>
      <div class="form-body">
        <div class="form-group" id="invoice_pa">
          <label>Invoice PA</label>
          <%= f.text_area :invoice_pa_body, :class => "form-control", :rows => 5 %>
        </div>
        <div class="left">
          <button class="btn green" type="submit">Save</button>
          <button class="btn default" type="button">Cancel</button>
        </div>
      </div>
    <% end %>
  </div>
</div>