var content = ""; 
  content = '<div class="col-xs-8 "><h2><%= @instructor_student.student_name%></h2><%= @instructor_student.additional_description%></br><a href="javascript:;" class="btn default " id="student_edit">Edit</a></div>';

$(".student_name").html(content);
$(".edit_student_name").hide();
$(".student_name").show();

$("#student_edit").click(function() {
  $(".student_name").hide();
  $(".edit_student_name").show();
});