$(".additionalDescription").text("Information saved successfully.")
                       .delay(5000)
                       .queue(function() {
                           $(this).text("");
                           $(this).dequeue();
                        });
var description = ""; 
var transferredFrom = $(".transferredFrom").html();
description += '<div class="col-sm-8 col-xs-12 padding-top-10 "> <div class="row"><span class="transferredFrom">'+transferredFrom+'</span><div class="col-xs-4 text-right text-muted">Description</div><div class="col-xs-8 text-warning"><% if !@instructor_student.additional_description.blank? %><%= @instructor_student.additional_description %><% else %><i class="fa fa-warning"></i> Data needed <% end %></div></div>';

$(".description_details").html(description);
$(".change_description").hide();
$(".description_details").show();
