<div class="row schedule">
  <div class="col-md-12">
    <h3 class="page-title">
      Booking Schedule
    </h3>
  </div>
</div>
<div class="schedule col-xs-12">
  <div class=" box blue-madison">
    <div >
      <div class="row">
        <div class="col-xs-12">
          <%= form_tag manage_group_class_beta_search_path, :id => "search_gp_form", :remote => true do %>
            <div class="alert alert-info">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Venue</label>
                    <%= select_tag "venue", options_from_collection_for_select(Venue.order(:name), "id", "name"), {:class => "form-control" ,:prompt => "Any"} %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Age Group</label>
                    <%= select_tag "age_group", options_from_collection_for_select(AgeGroup.all, "id", "title"),{:class => "form-control" ,:prompt => "Any"} %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="search-result">
    </div>
  </div>
</div>
<script>
  $(document).on('change', '#venue', function(event) {
    $.ajax({
      url: '/booking_schedule_search',
      dataType: 'script',
      data: {venue: $(this).val(),age_group: $("#age_group").val()},
    })    
  });
  $(document).on('change', '#age_group', function(event) {
    $.ajax({
      url: '/booking_schedule_search',
      dataType: 'script',
      data: {age_group: $(this).val(),venue: $("#venue").val()},
    })    
  });
  $(document).on('click', '.btn-gc', function(event) {
      $('.spin').show();
    });
</script>
<style>
  .btn-gc{
    margin-top: 10px;
    width: 100px;
  }
  .schedule{
    margin: 0px;
  }
</style>