<%= title "Transactions" %>
<div class="main">
  <div class="container">
  	<ul class="breadcrumb">
      <li><a href="/instructor">Home</a></li>
      <li class="active">Fee Transactions</li>
    </ul>
    <div class="row">
	    <div class="col-sm-12">
	    	<h1>Fee Transactions</h1>
	    </div>
	  </div>
	  <div class="row">
		  <div class="advanceSearchForm">
		    <!-- left part -->
		    <div class="col-md-6">
		      <!-- SatrtDate EndDate -->
		      <div class="row btn_Search">
		        <label class="control-label col-md-3">Date</label>
		        <div class="input-group input-large date-picker input-daterange col-md-9" style="padding-left: 15px;" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
		          <input type="text" class="form-control start_date" name="from">
		          <span class="input-group-addon">to </span>
		          <input type="text" class="form-control end_date" name="to">
		        </div>
		      </div>

		      <!-- Invoice id -->
		       <div class="row btn_Search">
		        <div><label class="control-label col-md-3">Student Name</label>
		          <div class="col-md-9">
		            <input type="text" class="form-control student_name" name="student_name">
		          </div>
		        </div>
		      </div>
		    </div>

		    <!-- right part -->
		    <div class="col-md-6">

		       <!-- Paid By -->
		      <div class="row btn_Search">
		        <label class="control-label col-md-2">Paid By</label>
		        <div class="col-md-9">
		          <select class="form-control advance_paidBy">
		            <option></option>
		            <option>Reddot Visa/Master</option>
		            <option>Reddot eNets</option>
		          </select>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="row btn_Search">
		  <div class="col-md-offset-5">
		    <a href="javascript:;" class="btn btn-default search_btn">Search</a>
		    <a href="javascript:;" class="btn btn-default resetAdvanceSearch">Reset </a>
		  </div>
		</div>
	  <div class="row">
	  	<div class="col-sm-12">
		    <table class="table sample_editable_2 fee_transaction_table" id="sample_2" data-source="<%=instructor_fee_payment_notifications_path(format: :json,instructor_id: current_admin_user.id) %>">
		      <thead>
		        <tr>
		          <th style="width:30px;"></th>
		          <th>Payment Date</th>
		          <th>Name</th>
		          <th>Class</th>
		          <th>Fee For</th>
		          <th>Amount</th>
		          <th>Status</th>
		          <th>Pay By</th>
		        </tr>
		      </thead>
		      <tbody>
		      </tbody>
		    </table>
			</div>
		</div>
  </div>
</div>
<style type="text/css">
 .sample_editable_2{
    width: 100% !important;
  }
  .fee_transaction_table a {
  	color: #3e4d5c;
  }
  .fee_transaction_table a:hover {
  	color: #E02222;
  }

</style>
<script type="text/javascript">
var table;
jQuery(document).ready(function() { 
	table=$('#sample_2').dataTable({
		sPaginationType: "bootstrap",
    aaSorting: [[ 0, "desc" ]],
    aoColumnDefs: [
          { 'bSortable': false, 'aTargets': [ 0, 2, 3, 4 ] }
       ],
    aLengthMenu: [
      [20, 50, 100, -1],
      [20, 50, 100, "All"] // change per page values here
      ],
    iDisplayLength: 20,
    bProcessing: true,
    bServerSide: true,
    sAjaxSource: $('#sample_2').data('source'),
    "fnServerParams" : function ( aoData ) {
      //here can be added an external ajax request parameters.
      aoData.push({"name" : "paid_by", "value": $('.advance_paidBy').val()});
      aoData.push({"name" : "start_date", "value": $('.start_date').val()});
      aoData.push({"name" : "end_date", "value": $('.end_date').val()});
      aoData.push({"name" : "student_name", "value": $('.student_name').val()});
      },
      "fnDrawCallback" : function(oSettings){
        if (oSettings.aiDisplay.length == 0) {
            $("#total_amount").html("0");
            $("#paid_fee").html("0");
            return;
        }
        // sum columns within goups
        var total_amount=0;
        var paid_count=0;
        $("#sample_2 tbody tr").each(function(index) {
          if (this.cells[5].innerHTML){ 
            total_amount = parseFloat(total_amount) + parseFloat(this.cells[5].innerHTML);
          }
          if (this.cells[6].innerHTML){
            if (this.cells[6].innerHTML=="Paid")
            {
              paid_count = paid_count + 1;
            }
          }
          $("#total_amount").html(total_amount);
          $("#paid_fee").html(paid_count);

        });
      }

    });

		$('#sample_2_wrapper .dataTables_filter input').addClass("form-control input-xmedium input-inline");
    $('#sample_2_wrapper .dataTables_length select').addClass("form-control input-xmedium input-inline");
    $("#sample_2_wrapper").find(".table-scrollable").removeClass("table-scrollable");

    $('#sample_2_filter').append('<label><span>Paid :  <span id="paid_fee"></span></span><span id="m-total" >Total : <span id="total_amount"> </span></span></label>');

  // datepicker for to and form date
  $('.date-picker').datepicker({
    format: 'd MM yyyy',
    autoclose: true
  });

  // search button
  $('.search_btn').click(function(){
      table.fnFilter( );
  });

  // reset button 
  $(document).on("click", '.resetAdvanceSearch', function(){
    $('.advanceSearchForm').find('input, select').val('');
    $('.date-picker').datepicker('setDate', null);
  });
});


</script>
<style type="text/css">
  .btn_Search{

    margin: 10px;
  }
  /*.start_date,
  .end_date
  {
    width: 187px !important;
  }*/
  
  #m-total{
    margin-left: 40px;
    margin-right: 20px;
  }
</style>