<div class="modal-dialog modal-sm fade" id="stack2" style="z-index: 999999;">
  <div class="modal-content">
    <div class="modal-header">
      <button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
      <h4 class="modal-title">Delete Class</h4>
    </div>
  </div>
</div>