<% @group_classes.group_by(&:venue_id).each do |gc_by_venue| %>
<div class="portlet box green">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-gift"></i><%= Venue.find(gc_by_venue[0]).name %>
    </div>
    <div class="tools">
      <a href="javascript:;" class="collapse">
      </a>
    </div>
  </div>
  <div class="portlet-body">
    <div class="panel-group accordion" id="accordion3">
      <% sunday = nil %>
      <% gc_by_venue[1].group_by(&:day).each do |gc_by_day| %>
        <% if gc_by_day[0] == 0 %>
        <% sunday = gc_by_day %>
        <% else %>
          <%= render 'manage/group_classes/panel_body_booking_schedule', gc_by_day: gc_by_day, venue_id: gc_by_venue[0].to_s  %>
        <% end %>
      <% end %>
      <% if sunday %>
        <%= render 'manage/group_classes/panel_body_booking_schedule', gc_by_day: sunday, venue_id: gc_by_venue[0].to_s  %>
      <% end %>
    </div>
  </div>
</div>
<% end %>