<br>  <div class="gc_by_venue" style="display:none">
    <br><center> <img src='/assets/input-spinner.gif' alt='loading' class='spin'></center>
  </div>
<%# if @group_classes.count > 0 %>
  <!-- <div class="row">
    <label style="margin-left: 14px;">Choose</label>
    <%# if @instructors.count > 0 %>
      <div class="col-xs-12">
        <div class="form-group">
          <%#= select_tag "instructor", options_from_collection_for_select(@instructors, "id", "name", params[:instructor]),{class: 'form-control inst-list', prompt: 'Instructors'} %>
          <p class="help-block"><%#= @instructors.count %> instructors</p>
        </div>
      </div>
    <% #end %>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="portlet box">
        <div >
          <div class="panel-group accordion" id="accordion3">
            <%# sunday = nil %>
            <%# @group_classes.where(is_deleted: false).group_by(&:day).each do |gc_by_day| %>
              <% #if gc_by_day[0] == 0 %>
              <%# sunday = gc_by_day %>
              <% #else %>
                <%#= render 'manage/group_classes/panel_body_job',gc_by_day: gc_by_day %>
              <% #end %>
            <% #end %>
            <% #if sunday %>
              <%#= render 'manage/group_classes/panel_body_job',gc_by_day: sunday %>
            <% #end %>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<%# end %>