<div class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-body">
			<table class="table table-hover" id="sample-table-1">
				<thead>
					<tr>
						<th>NRIC</th>
						<th class="hidden-xs">Name</th>
						<th>Instructor</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% if @instructor_students.count  > 0 %>
						<% @cnt = 0 %>
						<% @instructor_students.each do |instructor_student| %>
						<% @m = InstructorStudentAward.where(:award_id => @award_test.award_id, :instructor_student_id => instructor_student, :award_test_id => nil).count %>
						<% if @m > 0%> 
						<% @cnt = 1 %>
							<tr>
								<td class="center"><%= instructor_student.ic_number %></td>
								<td class="hidden-xs"><%= instructor_student.student_name %></td>
								<td><%= Instructor.find(instructor_student.admin_user_id).name %></td>
								<td class="center">
									<%= link_to "Add", manage_add_student_award_path(@award_test, instructor_student), :class => "btn btn-default" %>
								</td>
							</tr>
						<% end %>
						<% end %>
						<% if @cnt == 0 %>
							<tr>
								<td colspan="4" class="center"> No record found!</td>
							</tr>
						<% end %>
					<% else %>
					<tr>
						<td colspan="4" class="center"> No record found!</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>