<div class="sidebar col-md-3 col-sm-3">
  <ul class="list-group margin-bottom-25 sidebar-menu">
    <li class="list-group-item clearfix">
      <a href="<%= instructor_group_classes_index_path %>">
        <i class="fa fa-angle-right"></i>
        Group Classes
      </a>
    </li>
    <li class="list-group-item clearfix">
      <a href="<%= instructor_instructor_students_path %>">
        <i class="fa fa-angle-right"></i>
        Students
      </a>
    </li>
    <li class="list-group-item clearfix">
      <a href="<%= instructor_opportunity_path %>">
        <i class="fa fa-angle-right"></i>
        Opportunity
      </a>
    </li>
    <li class="list-group-item clearfix">
      <a href="#">
        <i class="fa fa-angle-right"></i>
        Acount Settings
      </a>
    </li>
  </ul>
</div>