<link rel="stylesheet" href="/assets/jquery.nestable.css">

  <div class="group_list">
    <%= render partial: "instructor/home/group", locals: {group_list: @group_class.groups, group_class: @group_class} %>
  </div>
  
<br/>
<a class="btn default" data-toggle="modal" href="#basic"> + Create New Group</a>
<div class="modal fade bs-modal-sm" id="basic" tabindex="-1" role="basic" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Create Group</h4>
      </div>
      <%= form_for [:instructor, Group.new], html: {:class => "form-horizontal"}, :remote => true do |f|  %> 
        <div class="modal-body">
          <%= f.hidden_field :group_class_id, :value => @group_class.id %>
          <%= f.text_field :group_name, :placeholder => "Enter Group name", :class => "form-control", :required => true %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn blue">Save</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript" src="/assets/jquery.sortable.js"></script>
<script type="text/javascript" src="/assets/jquery.ui.touch-punch.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    // $('form#new_group').on('ajax:beforeSend', function(xhr, settings) {
    //   $(".submit").attr("disabled","true");
    //   $('.submit').text("Saving...");
    // });
    $('#new_group').validate();
    $('#basic').on('hidden.bs.modal', function(){
      $(this).find('#new_group')[0].reset();
      $(this).find('#new_group').find('label').hide();
      $(this).find('#new_group').find('label').removeClass('error');
    });
  });
  
</script>