/ = title "ACCOUNT"
/ - if !admin_user_signed_in?
/   = render "account/shared/login"
/ - else
/   .main
/     %ul.breadcrumb
/       %li
/         %a{:href => "/account"} Account
/       %li.active Home
/       -#%li
/       -#  %a{:href => "/account"} Home
/       -#%li.active Group Classes

/     .main
/       .container
/         / BEGIN SIDEBAR &amp; CONTENT
/         .row.margin-bottom-40
/           / BEGIN SIDEBAR
/           .sidebar.col-md-3.col-sm-3
/             %ul.list-group.margin-bottom-25.sidebar-menu
/               %li.list-group-item.clearfix
/                 %a{:href => "#"}
/                   %i.fa.fa-angle-right>
/                   Group Classes
/               %li.list-group-item.clearfix
/                 %a{:href => "%= account_instructor_students_path %>"}
/                   %i.fa.fa-angle-right>
/                   Students
/               %li.list-group-item.clearfix
/                 %a{:href => "#"}
/                   %i.fa.fa-angle-right>
/                   Acount Settings
/           / END SIDEBAR
/           / BEGIN CONTENT
/           .col-md-9.col-sm-9
/             %h1 Group Classes
/             .content-page
/               %table.table.table-hover
/                 %thead
/                   %tr
/                     %th
/                     %th Day
/                     %th Time
/                     %th Venue
/                     %th
/                     - count = 0
/                 %tbody
/                   -#= @group_classes.inspect
/                   - @group_classes.each do |group_class|
/                     - count = count + 1
/                     %tr
/                       %td
/                         = count
/                       %td
/                         = Date::DAYNAMES[group_class.day]
/                       %td
/                         - if group_class.time?
/                           = group_class.time.strftime("%I:%M %p").to_s + " - " + (group_class.time + group_class.duration*60).strftime("%I:%M %p").to_s
/                       %td
/                         = Venue.find(group_class.venue_id).name
/                       %td
/                         %span.label.label-success View
/           .text-center
/             .form-actions.fluid
/               .col-md-offset-3.col-md-9
/                 .margin-top-20
/                   %a{:href=>"/account/home/new"}
/                     %button.btn.green
/                       Create new group class
