= title "New Group Class"
- if !admin_user_signed_in?
  = render "account/shared/login"
- else
  .main
    .container
      %ul.breadcrumb
        %li
          %a{:href => "/account"} Account
        %li
          %a{:href => "/account"} Home
        %li.active New
        -#%li
        -#  %a{:href => "/account"} Home
        -#%li.active Group Classes
      .row.margin-bottom-40
        / = render :partial => 'ac_side_bar'
        .col-md-9.col-sm-9
          = render "account/home/form"