<% title "Lightning Risk Index" %>
<% if !admin_user_signed_in? %>
  <%= render "instructor/shared/login" %>
<% else %>
  <div class="main">
    <div class="container">
      <ul class="breadcrumb">
        <li>
          <a href="/instructor">Home</a>
        </li>
        <li class="active">Lightning Risk</li>
        <% #%li %>
        <% #  %a{:href => "/account"} Home %>
        <% #%li.active Group Classes %>
      </ul>
      <div class="row margin-bottom-40">
        <%#= render :partial => "ac_side_bar" %>
        <div class="col-md-9 col-sm-9">
          <h1>Lightning Risk</h1>
          <div class="content-page">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Venue</th>
                  <th>Risk</th>
                  <th>Time</th>
                </tr>
              </thead>
              <tbody>
                <% @lightning_risks.each do |lr| %>
                    <tr>
                      <td>
                        <%= lr.location %>
                      </td>
                      <td>
                        <%= lr.risk %>
                      </td>
                      <td>
                        <%= lr.time %>
                      </td>
                    </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
       
      </div>
    </div>   
  </div>
<% end %>
