/ = form_for @fee do |f|
/   - if @fee.errors.any?
/     #error_explanation
/       %h2= "#{pluralize(@fee.errors.count, "error")} prohibited this fee from being saved:"
/       %ul
/         - @fee.errors.full_messages.each do |msg|
/           %li= msg

/   .field
/     = f.label :payment_date
/     = f.date_select :payment_date
/   .field
/     = f.label :course_type
/     = f.text_field :course_type
/   .field
/     = f.label :monthly_detail
/     = f.text_field :monthly_detail
/   .field
/     = f.label :amount
/     = f.number_field :amount
/   .field
/     = f.label :course_detail
/     = f.date_select :course_detail
/   .actions
/     = f.submit 'Save'
