<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">Job Ref <%= @m %></h4>
    </div>
    <div class="modal-body">
      <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>
                Invoice
              </th>
              <th>
                Inv. Status
              </th>
            </tr>
          </thead>
           <tbody>
            <% @job_freshbook_invoices.each do |frshbook_inv| %>
              <tr>
                <th>
                  <%= link_to frshbook_inv["number"], frshbook_inv["links"]["edit"], :target => "blank" %>
                </th>
                <th>
                  <%= frshbook_inv["status"].capitalize %>
                </th>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn default" data-dismiss="modal">Close</button>
    </div>
  </div>
  <!-- /.modal-content -->
</div>
                <!-- /.modal-dialog -->