<div class="col-md-6 col-sm-6">
  <div style="margin-bottom: 16px;">
    <div class="input-cont" style="margin-right: 0px !important;">
      <textarea class="form-control" placeholder="Type a message here..." id="customer_message_template" onkeyup="textAreaAdjust(this)" style="overflow:hidden" rows="3"></textarea>
    </div>
    <div id="customer_message_msg">
      
      <% if @canned_responses.count > 0 %>
        <div class="btn-group margin-top-10">
          <button type="button" class="btn blue">Canned</button>
          <button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown" style="height: 34px;"><i class="fa fa-angle-down"></i></button>
          <div class="dropdown-menu hold-on-click dropdown-radiobuttons" role="menu">
            <% @canned_responses.each do |p| %>
              <label>
                <div class="radio">
                  <span class="">
                    <input name="canned_template" class="canned_template" type="radio" value="<%= p.id %>">
                  </span>
                </div>
                 <%= p.title.capitalize if p.title.present? %>
              </label>
            <% end %>
            <label>
          </div>
        </div>
      <% end %>
      <a href="javascript:;" class="btn blue pull-right" style="margin-top: 10px;" id="customer_message_send"> SMS</a>

      <a href="javascript:;" class="btn blue pull-right" style="margin-top: 10px; margin-right: 5px;" id="customer_message_email"> Email</a>
      <span class="pull-left sms_status" id="cust_message_status"></span>
    </div>
  </div>
  <div class="portlet">
    <div class="portlet-title line">
      <div class="caption">
        <i class="fa fa-comments"></i>
        Customer - <span id="cust_number"></span>
      </div>
    </div>
    <div class="portlet-body" id="chats">
      <div class="slimScrollDiv">
        <div class="scroller cust_scroller" data-always-visible="1" data-initialized="true" data-rail-visible1="1">
          <ul class="chats" id="customer_conversation">
            <%#= render "customer_messages" %>
            <!-- AJAX CONVERSATION LOAD CONTENT AREA -->
          </ul>
          <span class="loading_p" style="display: none;">
            <p style="text-align: center;">Loading...</p>
          </span>
          <%# if @customer_messages.next_page %>
            <%#= link_to "Load More", manage_customer_load_more_message_path(:job_id => @job.id, :page => @customer_messages.next_page), :remote => true, :id => "load_more_customer_message" %>
          <%# end %>
        </div>
      </div>
    </div>
  </div>
</div>
<input type="hidden" value="" class="next_marker_cust" id="next_marker_cust" name="next_marker_cust"/>

<script type="text/javascript">
  function textAreaAdjust(o) {
    o.style.height = "1px";
    o.style.height = (25+o.scrollHeight)+"px";
  }
  function textAreaAdjust1(o) {
    $('#'+o).height('74px');
    $('#'+o).height(document.getElementById(o).scrollHeight);
  }

  $(".canned_template").click(function(event) {
    var canned_response_template = $(this).val();
    $.ajax({
      url: '/manage/get_canned_tmp',
      type: 'POST',
      data: { choosenTemplate: canned_response_template }
    })
    .done(function(data) {
      data = $.parseJSON(data)
      var description = data["description"]
      $("#customer_message_template").val(description)
      textAreaAdjust1('customer_message_template');
    });
  });

  $("#customer_message_email").click(function(event) {
    var body = $("#customer_message_template").val();
    var job_id = '<%= @job.id %>';
    if(body == ""){
      $("#cust_message_status").html("Message can't be blank.").show();
      event.preventDefault();
      return false;
    }
    else {
      $.ajax({
        url: '/manage/send_message_as_mail',
        type: 'post',
        data: { message_content: body, job_id: job_id },
        beforeSend : function(){
          $("#customer_message_email").addClass( "disabled" );
          $("#cust_message_status").html('Please wait...').show();
        }
      })
      .done(function() {
        $("#cust_message_status").html('Email sent.');
        $("#customer_message_email").removeClass( "disabled" );
        $("#customer_message_email").css( "opacity", 0.5 );
      })
      .fail(function(e) {
        // if(e.responseText.length > 0) {
        //   e = e.responseText.replace(/[\[\]']+/g,'').split(",")
        //   if(e[1] == undefined)
        //     e[1] = 503
        //   $modal = $('.invoice_err'),
        //   $modalBody = $('.modal-title'),
        //   $modalBody.html('Error : ' + e[0] + '<br>' + 'Error Code : ' + e[1]);
        //   $modal.modal();
        // }
      })
      .always(function(data) {
        if(data == "Done"){
          $("#cust_message_status").html('Email sent.').delay(3000);
        }
        else {
          $("#cust_message_status").html('Email sent.').delay(3000).hide("slow", function(){
            $("#customer_message_email").removeClass( "disabled" );
          });
        }
      });
    }
  });
  window.onscroll = function(ev) {
    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
      var phone_id = $.trim($("#lead_contact").text());
      var next_marker = $("#next_marker_cust").val();
      if ($(window).scrollTop() > $(document).height() - $(window).height() - 10) {
        if(next_marker != ""){
          if(flag_s == 0){ 
            flag_s = 1;
            $.ajax({
              url: '/manage/cust_load_msg',
              data: { phone: phone_id, marker: $("#next_marker_cust").val() },
              beforeSend: function(){
                $(".loading_p").show();
              }
            })
            .done(function(data) {
              $(".loading_p").hide();
              var json_data = JSON.parse(data);
              showConversationOnScroll(json_data, "customer_conversation")
              $("#next_marker_cust").val(data.next_marker);
              flag_s = 0;
            })
            .always(function(data) {
              $(".loading_p").hide();
              var json_data = JSON.parse(data);
              showConversationOnScroll(json_data, "customer_conversation")
              console.log(json_data)
              $("#next_marker_cust").val(data.next_marker);
              flag_s = 0;
            });
          }
        }
        else{
          return false;
        }
      }
    }
  };
</script>
<style type="text/css">
  .sms_status{
    margin-top: 17px;
  }
</style>