<% title "Instructor take jobs" %>
<div class="row">
  <div class="col-md-12">
    <div class="portlet box blue-madison">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-user"></i>Instructor Take Jobs
        </div>
      </div>
      <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover" id="sample_2" data-source="<%= manage_instructor_take_job_path(format: :json) %>">
          <thead>
            <tr>
              <th>
                Date & Time
              </th>
              <th>
                Job Ref
              </th>
               <th>
                Instructor 
              </th>
              <th>
                Request
              </th>
              <th>
                I can do this on..
              </th>
              <th>
                
              </th>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>  
 
<script>
  jQuery(document).ready(function() { 
    $('#sample_2').dataTable({
        sPaginationType: "bootstrap",
        aaSorting: [[ 0, "desc" ]],
        aLengthMenu: [
                      [20, 50, 100, -1],
                      [20, 50, 100, "All"] // change per page values here
                     ],
        iDisplayLength: 20,
        bProcessing: true,
        bServerSide: true,
        sAjaxSource: $('#sample_2').data('source')
        
      });
    
      $('#sample_2_wrapper .dataTables_filter input').addClass("form-control input-xmedium input-inline"); // modify table search input
      $('#sample_2_wrapper .dataTables_length select').addClass("form-control input-xmedium input-inline"); // modify table per page dropdown

      $("#sample_2_wrapper").find(".table-scrollable").removeClass("table-scrollable");
  });
  
 </script>
