<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">Manual Payment</h4>
    </div>
    <div class="modal-body">
      You will not be able to make anymore changes.
    </div>
    <div class="modal-footer">
      <%= link_to "Confirm" , award_test_cash_payment_instructor_award_test_path(@award_test.id, @student_award.instructor_student_id) ,:class =>"btn blue",:type =>"button" %>
      <button type="button" class="btn default" data-dismiss="modal">Cancel</button>
    </div>
  </div>
</div>
