#netWarn {
	display:none; margin:0; padding:0.5em 1em; border:0; border-bottom:thin solid #FFDEDE; text-align:center; color:#fff;
	font-size: 15px;
	background-color: #d64635;
}
#netWarn {
	display: block;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}