/*
 * This is a manifest file that'll be compiled into application, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_directory ./embed
 *= require font-awesome.min
 *= require embed/uniform
 *= require embed/bootstrap
 *= require manage/login/bootstrap-timepicker.min
 *= require datepicker3
 *= require embed/components
 *= require plugins
 *= require embed/style-shop
 *= require manage/multi-select
 *= require embed/style-responsive
 *= require checknet
 */

#private_public_venue {
  display: none;
}

#div1 {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#div2{
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.clear {
    clear: both;
}

.container {
  position: relative;
}
/*
  @media (max-width: 768px) {
    #div1 {
      height: 100px;
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
    }

    #div2{
      height: 100px;
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }
*/