This message has also been sent to your mobile number: <%= @job.lead_contact %>
<br />
<%= simple_format(@content).html_safe %>
<br />
<hr />
This message was sent by <a href="http://www.singaporeswimming.com/">SingaporeSwimming.com</a>
<br />
If this email does not belong to you, please reply to this email to let us know.