<% title "SMS" %> 
<div class="main">
	<div class="container">
	  <ul class="breadcrumb">
	  	<li><%= link_to "Home", instructor_dashboard_path%></li>
	  	<li class="active">SMS</li>
	  </ul>
		<%# init_class = Test.new %>
		<h3 class="page-title">
		  SMS
		  <small>
		    from telerivet
		  </small>
		</h3>