<p>You need to set up the Telerivet API to use this function.</p>
<div style="text-align: center;">
	<a href="<%= instructor_profile_path %>" class="btn blue">Set up</a>
	<button type="button" class="btn red" data-dismiss="modal">Later</button>
</div>
