%body.ecommerce
  %br
  .pre-header
    .container
      .row
        / BEGIN TOP BAR LEFT PART
        .col-md-6.col-sm-6.additional-shop-info
        / END TOP BAR LEFT PART
        / BEGIN TOP BAR MENU
        .col-md-6.col-sm-6.additional-nav
          %ul.list-unstyled.list-inline.pull-right
            %li
              %a{:href => "shop-checkout.html"} Account
            %li
              %a{:href => "page-login.html"} Log In
        / END TOP BAR MENU
  / END TOP BAR
  / BEGIN HEADER
  .header
    .container
      %a.site-logo{:href => "shop-index.html"}
        %img{:alt => "Metronic Shop UI", :src => "../../assets/index_page_images/img/SSA-Logo-Raw-Black.png"}/
      %a.mobi-toggler{:href => "javascript:void(0);"}
      .header-navigation
        %a{"data-target" => "#", "data-toggle" => "dropdown", :href => "#"}
          Account
    / END HEADER
